* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

.form-container {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  margin-top: 50px;
  border: 1px solid black;
}

.form-field-container {
  padding: 16px;
  width: 60vh;
}

.form-field {
  padding: 8px;
}
